.gradle
build/
bin/
node_modules/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Cert file
*.p12

# IDE specific files
.settings/
.classpath
.project
.idea
